* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

:root {
  color-scheme: light dark;
  --overlay-negro: linear-gradient(to top, rgb(0, 0, 0), transparent);
}

.hero {

  height: 100vh;

  background:
    var(--overlay-negro),
    url("./assets/img/netflix-background-gs7hjuwvv2g0e9fj.jpg") center/cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.contenedor {
  font-family: 'Inter', 'Montserrat', sans-serif;
  background-color: rgba(0, 0, 0, 0.541);
  backdrop-filter: blur(2px);
  padding: 4rem;
  width: 25rem;
}

.contenedor h1 {

  padding-bottom: 10px;
}

.input-box {

  padding: 7px 0px;
  display: flex;
  flex-direction: column;

}


.input-box input {
  height: 3rem;
  border: solid 1px rgba(0, 0, 0, 0.075);
  padding: 1rem;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.7s;
}

input:focus {
  border-color: #e5091444;

}

.btn {
  background-color: red;
  border: none;
  padding: 1rem;
  width: 100%;
  margin-top: 2rem;
  border-radius: 3px;
  transition: 0.8s;

}

.btn:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.check {
  margin-right: 7px;
}

.text-help {

  padding: 1rem 0px;
  display: flex;
  justify-content: space-between;
}

.text-help-2 {
  gap: 1rem;
  margin-top: 3rem;

}

.text-help-3 {

  margin-top: 1rem;

}

.contenedor-logo {
  margin: 1rem;
  position: absolute;
  z-index: 10;


}

.contenedor-logo h1 {
  color: #E50914;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 800;
  transform: scaleX(0.6);
  font-size: 65px;
  text-transform: uppercase;

}

p {
  color: rgb(128, 128, 128);
}

a {
  text-decoration-line: none;
  color: #E50914;
}